@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: blur(0px);
  z-index: -10;
}

.loading-text {
  width: 50px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25px, -15px);
  font-size: 50px;
  color: #fff;
}
