.body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;

    .square {
      box-shadow: 0 0 2px #000;
      height: 16px;
      width: 16px;
      margin: 2px;
      transition: 2s ease;

      &:hover {
        transition-duration: 0s;
      }
    }
  }
}
